# Node modules
node_modules/

# Next.js build output
.next/
out/

# Production
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Dependency directories
/.pnp/
.pnp.js

# Local env files
.env*

# Misc
.DS_Store
.vscode/
.idea/

# Mac
*.swp
*~
